.post {
  height: 100px;
  cursor: pointer;
  border-radius: 10px;
  background-image: linear-gradient(129deg, #5e5e5e, #141414);
  padding: 10px;
  color: #03a9f4;
  box-shadow: 0 0 5px 0 #ffffff1f;
  transition: all 0.3s;

  .ids {
    font-size: 30px;
    text-align: center;
    transition: all 0.3s;
  }

  .title {
    font-size: 10px;
    text-overflow: ellipsis;
    text-align: center;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 10px 0 #ffffff1f;

    .ids {
      transform: scale(1.1);
    }
  }
}
